<div class="bg-blue-950 fixed w-full z-20  justify-between flex">
    <div class="flex">
        <img class="w-10 m-2" src="/assets/images/logoLIonwhite.png" alt="">
        <p class="text-white text-2xl pt-5 font-light">Ascend Bank</p>
    </div>
    <div class="flex">
        <div class="mr-10 mt-4">
            <label for="searchicon">
                <em class="fas fa-search text-white mr-2"></em>
            </label>
            <input id="searchicon"
                class="ps-2 bg-transparent pb-0 border-t-0 border-l-0 border-r-0 border-white focus:ring-0 focus:outline-none text-white w-[300px]" type="text"
                placeholder="Search">
        </div>
        <div>
            <button class="px-5 py-1 bg-red-500 rounded text-white mt-5 mr-5 text-sm hover:bg-red-700 transition duration-200">Logout<em class="fa-solid fa-right-from-bracket ml-2"></em></button>
        </div>
    </div>
</div>