<!-- CAROUSEL -->
<div class="carousel mx-5 mt-3">
    <div id="slide1" class="carousel-item relative w-full">
        <img src="/assets/images/mcarousel.jpg" class="w-full" alt="carousel image"/>
        <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
            <a href="#slide4" class="btn btn-circle">❮</a>
            <a href="#slide2" class="btn btn-circle">❯</a>
        </div>
    </div>
    <div id="slide2" class="carousel-item relative w-full">
        <img src="/assets/images/mcarousel.jpg" class="w-full" alt="carousel image"/>
        <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
            <a href="#slide1" class="btn btn-circle">❮</a>
            <a href="#slide3" class="btn btn-circle">❯</a>
        </div>
    </div>
    <div id="slide3" class="carousel-item relative w-full">
        <img src="/assets/images/mcarousel.jpg" class="w-full" alt="carousel image"/>
        <div class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2">
            <a href="#slide2" class="btn btn-circle">❮</a>
            <a href="#slide4" class="btn btn-circle">❯</a>
        </div>
    </div>
</div>


<div class="flex justify-center py-10">
    <div class="stats shadow px-28">
        <div class="stat">
            <div class="stat-title">Happy Customers</div>
            <div class="stat-value">89,400</div>
            <div class="stat-desc">21% more than last month</div>
        </div>

    </div>
</div>

<!-- CARDS -->
<div class="bg-[url('/assets/images/greybg.png')] bg-no-repeat bg-cover pb-10">
    <div class="grid grid-cols-12 mx-5  gap-4">
        <div class="col-span-4 border p-3 mt-3 rounded group">
            <div
                class="bg-[url('/assets/images/maincards.png')] bg-cover rounded-2xl h-56 w-full transform group-hover:shadow-2xl group-hover:-translate-y-2 transition duration-500">
                <div class="z-10">
                    <h6 class="text-white font-normal text-2xl text-right pe-5 pt-1">Ascend Bank</h6>
                    <img class="w-14 ms-5 mt-2" src="/assets/images/chip.png" alt="carousel image">
                    <p class="text-white text-2xl text-center mt-4">1234 4567 8912 5689</p>
                    <p class="text-white text-[10px] text-center">VALID THRU 12/99</p>
                    <p class="text-white ms-3 mt-10 text-xl">Card Holder</p>
                </div>
            </div>
            <!-- <img class="rounded-lg object-cover h-56 w-full" src="/assets/images/maincards.png" alt=""> -->
            <h6 class="font-bold my-4">EazyDiner Credit Card</h6>
            <p>One of the most powerful dining credit card in the world with amazing instant rewards. Savorthe best of
                culinary cuisine
                as IndusInd Bank and EazyDiner bring to you, The Next Revolution in Dining. A card that will open the
                doors
                of the most
                premium restaurants with instant reservations.</p>

            <h6 class="font-bold my-4">Key Features and Benefits</h6>
            <p>1-Year EazyDiner Prime membership worth ₹2950 <br><br>

                Extra instant 25% upto ₹1000 OFF every time you book and pay on the EazyDiner app<br><br>

                Gift Voucher worth ₹5000 at The Postcard Hotel<br><br>

                Two complimentary domestic airport lounge visits a quarter</p>
            <div routerLink="cardsapply" routerLink="cardsapply" class="flex justify-between pe-5 mt-3">
                <button class="py-1 px-10 bg-blue-500 text-white text-sm rounded hover:bg-blue-700 mt-2">Apply
                    Now</button>
                <p class="font-bold mt-2">Know More</p>
            </div>
        </div>
        <div class="col-span-4 border p-3 mt-3 rounded group">
            <div
                class="bg-[url('/assets/images/maincards.png')] bg-cover rounded-2xl h-56 w-full transform group-hover:shadow-2xl group-hover:-translate-y-2 transition duration-500">
                <div class="z-10">
                    <h6 class="text-white font-normal text-2xl text-right pe-5 pt-1">Ascend Bank</h6>
                    <img class="w-14 ms-5 mt-2" src="/assets/images/chip.png" alt="">
                    <p class="text-white text-2xl text-center mt-4">1234 4567 8912 5689</p>
                    <p class="text-white text-[10px] text-center">VALID THRU 12/99</p>
                    <p class="text-white ms-3 mt-10 text-xl">Card Holder</p>
                </div>
            </div>
            <!-- <img class="rounded-lg object-cover h-56 w-full" src="/assets/images/maincards.png" alt=""> -->
            <h6 class="font-bold my-4">Nexxt Credit Card</h6>
            <p>IndusInd Bank Nexxt Credit Card - India’s first interactive card, that offers you absolute flexibility
                when
                making
                payments at POS. This next gen state-of-the-art card plastic has LED buttons which empowers you to
                switch
                between
                multiple payment options.</p>

            <h6 class="font-bold my-4">Key Features and Benefits</h6>
            <p>Flexible options to pay through EMI, Reward points or Credit. <br><br>

                Get 1 Reward Point for every ₹150 spent <br><br>

                Fuel Surcharge Waiver <br><br>

                Complimentary Premium Alcoholic beverage at over 200 select restaurants for every dinner</p>
            <div routerLink="cardsapply" routerLink="cardsapply" class="flex justify-between pe-5 mt-3">
                <button class="py-1 px-10 bg-blue-500 text-white text-sm rounded hover:bg-blue-700 mt-2">Apply
                    Now</button>
                <p class="font-bold mt-2">Know More</p>
            </div>
        </div>
        <div class="col-span-4 border p-3 mt-3 rounded group">
            <div
                class="bg-[url('/assets/images/maincards.png')] bg-cover rounded-2xl h-56 w-full transform group-hover:shadow-2xl group-hover:-translate-y-2 transition duration-500">
                <div class="z-10">
                    <h6 class="text-white font-normal text-2xl text-right pe-5 pt-1">Ascend Bank</h6>
                    <img class="w-14 ms-5 mt-2" src="/assets/images/chip.png" alt="">
                    <p class="text-white text-2xl text-center mt-4">1234 4567 8912 5689</p>
                    <p class="text-white text-[10px] text-center">VALID THRU 12/99</p>
                    <p class="text-white ms-3 mt-10 text-xl">Card Holder</p>
                </div>
            </div>
            <!-- <img class="rounded-lg object-cover h-56 w-full" src="/assets/images/maincards.png" alt=""> -->
            <h6 class="font-bold my-4">Legend Credit Card</h6>
            <p>With a unique contactless feature and a card design that enables you to make fast, convenientand secure
                everyday
                purchases, the Legend Visa Credit Card helps you earn more reward points on your weekend spends as well
                as
                Bonus points
                on your yearly spends!</p>

            <h6 class="font-bold my-4">Key Features and Benefits</h6>
            <p>Earn 1 reward point for every ₹ 100 spent on Weekdays and earn 2 reward points for every ₹ 100 spent on
                Weekends. <br><br>

                Exclusive Bonus Rewards: Earn 4000 Bonus Reward points on spending ₹ 6 lacs or more in a year <br><br>

                Enjoy the benefit of Discounted Foreign Currency Mark up at 1.8% foreign currency transactions done</p>
            <div routerLink="cardsapply" routerLink="cardsapply" class="flex justify-between pe-5 mt-3">
                <button class="py-1 px-10 bg-blue-500 text-white text-sm rounded hover:bg-blue-700 mt-2">Apply
                    Now</button>
                <p class="font-bold mt-2">Know More</p>
            </div>
        </div>
    </div>
</div>


